<div class="modal-dialog" style="width: calc(100% - 30px);">
  <div class="modal-content" ng-show="compare.length > 0">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-4 text-right" ng-show="compare[0]">
        <gt-player-summary gt-base-player="compare[0]" gt-compare-player="compare[1]"></gt-player-summary>
      </div>
      <div class="col-xs-2 text-center">
        <b>
          <h4>VS</h4>
          DOB<br/>
          Birthplace<br/>
          Ave Min<br/>
          PPG<br/>
          APG<br/>
          RPG<br/><br/>
        </b>
      </div>
      <div class="col-xs-4" ng-show="compare[1]">
        <gt-player-summary gt-base-player="compare[1]" gt-compare-player="compare[0]"></gt-player-summary>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div>
</div>

<ul class="list-group pre-scrollable row" style="max-height: 500px; margin: 0;">
  <li ng-repeat="player in players" class="list-group-item col-xs-6 col-md-6 col-lg-4">
    {{ player.rank }}: {{ player['name/_text'] }}

    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="gotoPlayer(player.name)">Full stats</button>
      <button type="button" class="btn btn-primary" ng-click="comparePlayer(player.name)">Compare</button>
    </div>
  </li>
</ul>

