<div class="modal-dialog" style="position: absolute; top: 50px; z-index: 1000;">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
            <h3>Modal Body</h3>
        </div>
    </div>
</div>

<ul class="list-group row" style="margin-top: 170px;">
  <li ng-repeat="player in players" class="list-group-item col-xs-6 col-md-4 col-lg-3">
    {{ player.rank }}: <a ng-click="gotoPlayer(player.name)">{{ player['name/_text'] }}</a>
    
            <button type="button" class="btn btn-primary pull-right">Compare</button>
  </li>
</ul>
